@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-50px); }
  50% { transform: translateX(50px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes shake-intense {
  0% { transform: translateX(0); }
  20% { transform: translateX(-100px); }
  40% { transform: translateX(100px); }
  60% { transform: translateX(-100px); }
  80% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.shake-intense {
  animation: shake-intense 0.7s ease-in-out;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ff9993;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff505c;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.text{
  font-family:Arial, serif;
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin: 10px;
}

.card {
  padding: 2em;
}

.kiss{
  height: 80%;
  width: 80%;
  border-radius: 38%;
}

.both-Button{
  margin: 10px;
  gap:10px
}


